/* @media only screen and (max-width: 320px) blockquote {
font-size: 0.5em;
} */

body {
  font-family: Monospace;
  font-size: 14pt;
}
blockquote {
  font-family: Arial;
  background-color: #F8EFBE;
  border-left-color: #F4B514;
}

.contactme {
  background-color: black;
  color: white;
  height: 160px;
}

.monospace {
  font-family: Monospace;
  font-size: 1.1em;
  background-color: #FFF;
  border-left-color: #FFF;
}

.top-nav {
  background-color: #671100;
}

.top-nav a {
  color: #d3e316;
}
header {
  margin: 20px;
  color: #FFFF00;
  height: 110px;
}


.headingStatement {
  font-family: Monospace;
  color: #333;
  text-shadow: 2px 2px 1px #888; 
  margin: 0 auto; 
}

h2 {
  text-shadow: 1px 1px 3px #888; 
}
/* bootstrap override */

.btn-primary:hover {
  text-decoration: none;
}
.img-thumbnail {
  opacity: 0.7;
}
.img-thumbnail:hover {
  opacity: 1;
}

.navbar-nav li a:hover {
    background-color: #AF0000;
    border-radius: 10px;
      -ms-transform: translate(-1px,-1px); /* IE 9 */
    -webkit-transform: translate(-1px,-1px); /* Safari */
    -moz-transform: translate(-1px,-1px); /* FF */
    transform: translate(-1px,-1px); /* Standard syntax */
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.social {
  display: inline;
  text-align: center;
}
.social li {
  display: inline-block;
}
.social-icon {
  display: block;
  margin: 10px 10px;
  padding: 5px 5px;  
  border-radius: 8px;
  background-color: #373d44;
  line-height: 38px;
  font-size: 16px;
  color: #eee;
  text-align: center;
}
.social-icon i {
  margin: 0 10px;
}
.social-icon:hover {
  background-color: #0583ca;
}

/* https://codepen.io/geoffgraham/pen/jrWwWM
  Typewriter effect
*/
.typed {
    display: flex;
  justify-content: center;
}
h1.headingStatement {
  color: #000;
   font-size: 2em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(20, end),
    blink-caret .5s step-end 10,
    hide-caret 1s step-end 3s infinite;
}

h2.headingStatement {
  color: #000;
  font-size: 1.5em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .2em; /* Adjust as needed */
  animation: 
    typing 3s steps(20, end),
    blink-caret .75s step-end infinite,
    reveal .1s step-end, blink-caret 0.5s step-end  infinite;
  animation-delay: 3.5s;
opacity: 0;
  animation-fill-mode: forwards;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes reveal {
  from { opacity: 0 }
  to { opacity: 1 }
}


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
@keyframes hide-caret {
  from, to { border-color: white }  
}
